.container {
  top: 0%;
}

.outside {
  top: -100%;
}
.personal-info {
  z-index: 10;
  position: relative;
  padding: 2rem 0;
  min-height: 80vh;
  align-content: flex-end;
}
.personal-info h1 {
  line-height: 3rem;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: bold;
}
.personal-info h1 span {
  font-size: 1rem;
  display: block;
  color: var(--c-primary);
}
.personal-info ul li {
  width: 10%;
  justify-content: center;
  display: flex;
}
.personal-info ul li a {
  font-size: 1.2rem;
  transition: 0.5s;
  color: var(--c-white);
}
.personal-info ul li a:hover {
  transform: scale(1.5);
}

.custom-list {
  padding: 0;
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
}
.custom-list li {
  color: white !important;
}
.custom-list li a {
  color: white !important;
}

.vertical-list {
  padding: 5rem 0;
  list-style: none;
  font-size: 1.5rem;
  min-height: 70vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.vertical-list li {
  cursor: pointer;
  transition: 0.5s;
}
.vertical-list li:hover {
  transform: scale(1.6);
}
.vertical-list li.active:hover {
  transform: scale(1.6);
}
.vertical-list li.active {
  transform: scale(1.3);
  color: var(--c-primary);
}

.content-info {
  max-height: 70vh;
  min-height: 70vh;
  z-index: 1;
  width: 0;
}

.content-info.active {
  width: 100%;
}

.panel {
  /* position: relative; */
  overflow-x: hidden;
  overflow-y: auto;
}

.panel span {
  font-size: 1.3rem;
}
.panel p {
  color: var(--c-grey);
}
h2 {
  font-size: 2rem;
}

.info-item {
  line-height: 1.67;
  color: var(--c-primary);
  margin-right: 15px;
  font-size: 1rem;
}

.info-item:not(:last-child)::after {
  content: "/";
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  line-height: 1.67;
  color: var(--c-grey);
  opacity: 0.5;
  padding-left: 0.8rem;
}

hr {
  border-color: var(--c-grey);
  opacity: 0.25;
}

.progress-custom {
  position: relative;
  margin: 1.2rem;
  margin-top: 0rem;
  float: left;
  text-align: center;
  color: var(--c-primary);
}
.progress-custom .barOverflow {
  position: relative;
  width: 9rem;
  height: 90px;
  margin-bottom: -3rem;
  overflow: hidden;
}
.barOverflow .bar {
  position: absolute;
  width: 9rem;
  height: 9rem;
  border-radius: 60%;
  box-sizing: border-box;
  border: 10px solid var(--c-soft-grey);
  border-bottom-color: var(--c-primary);
  border-right-color: var(--c-primary);
  transform: rotate(calc(45deg + 0deg * 1.8));
  transition: 5s;
}
.progress-custom .barOverflow .bar.pnone {
  border-bottom-color: var(--c-soft-grey);
  border-right-color: var(--c-soft-grey);
}
.progress-custom .barOverflow .bar.por0 {
  border-bottom-color: var(--c-soft-grey);
  border-right-color: var(--c-soft-grey);
  transform: rotate(calc(45deg + 0deg * 1.8));
}
.progress-custom .barOverflow .bar.por10 {
  transform: rotate(calc(45deg + 10deg * 1.8));
}
.progress-custom .barOverflow .bar.por20 {
  transform: rotate(calc(45deg + 20deg * 1.8));
}
.progress-custom .barOverflow .bar.por30 {
  transform: rotate(calc(45deg + 30deg * 1.8));
}
.progress-custom .barOverflow .bar.por40 {
  transform: rotate(calc(45deg + 40deg * 1.8));
}
.progress-custom .barOverflow .bar.por50 {
  transform: rotate(calc(45deg + 50deg * 1.8));
}
.progress-custom .barOverflow .bar.por60 {
  transform: rotate(calc(45deg + 60deg * 1.8));
}

.timeline {
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  background-color: var(--c-grey);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline .content {
  padding: 2rem 2rem;
  background-color: var(--c-semi-grey);
  position: relative;
}
.timeline .content h2 {
  font-size: 1.5rem;
}
.timeline .content h3 {
  font-size: 1.2rem;
  margin: 0;
  color: var(--c-primary);
}
.timeline .content h4 {
  font-size: 0.9rem;
  margin: 0;
}
.timeline .content p {
  color: var(--c-light-grey);
}

.timeline .custom-container {
  position: relative;
  background-color: var(--c-grey);
  width: 50%;
}

.timeline .custom-container::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: -1.3rem;
  background-color: var(--c-grey);
  border: 0.4rem solid var(--c-semi-grey);
  top: 1rem;
  border-radius: 50%;
  z-index: 1;
}
.timeline .custom-container:not(:first-child) {
  margin-top: -5rem;
}

.timeline .right {
  left: 50%;
}
.timeline .right::after {
  left: -1.2rem;
}

html,
body,
.principal {
  height: 100%;
}
@media (max-width: 992px) {
  html,
  body,
  .principal {
    font-size: 1.5rem;
    height: auto;
  }
  body {
    overflow: auto;
  }
  .vertical-list {
    padding: 2rem 0;
    min-height: auto;
    flex-direction: row;
  }
  .personal-info {
    z-index: 10;
    position: relative;
    padding: 2rem 0;
    min-height: auto;
    align-content: flex-end;
  }
  .content-principal {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .content-info {
    margin-left: 0;
    margin-right: 0;
    max-height: auto;
    min-height: 50vh;
    z-index: 1;
    width: 0;
  }
  .content-info {
    z-index: 1;
    height: 0 !important;
    width: 100%;
    min-height: 0;
  }

  .content-info.active {
    height: 100% !important;
    width: 100%;
  }
  .panel {
    min-height: 40vh;
    padding: 1rem 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .timeline {
    width: 100%;
  }
  .container {
    max-width: 90vw;
  }
  .progress-custom .barOverflow {
    height: 5rem;
  }
  .container-menu {
    order: 3;
  }
}
