:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-dark: #222222;
  --c-semi-dark: #333333;
  --c-semi-grey: #555555;
  --c-grey: #888888;
  --c-light-grey: #bfbfbf;
  --c-soft-grey: #eeeeee;
  --c-primary: #9aaa90;
  --first-font: "Roboto", sans-serif;
}
h1{
  font-weight: bold;
}
h2{
  font-weight: bold;
}
h3{
  font-weight: bold;
}
h4{
  font-weight: bold;
}
h5{
  font-weight: bold;
}
body {
  font-family: var(--first-font) !important;
  color: var(--c-grey) !important;
  overflow: hidden;
}
.b-dark {
  background-color: var(--c-black);
  color: var(--c-white);
}
.b-gray {
  background-color: #1c1e1f;
  color: var(--c-white);
}
.color-black {
  color: var(--c-black);
}
.color-white {
  color: var(--c-white);
}
.color-primary {
  color: var(--c-primary);
}
/* shadow */
.shadow {
  box-shadow: 0 32px 84px 0 rgba(0, 0, 0, 0.5) !important;
}
/* transition */
.tr-05 {
  transition: 0.5s;
}
.tr-1 {
  transition: 1s;
}
.tr-2 {
  transition: 2s;
}
.tr-5 {
  transition: 5s;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--c-semi-grey);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-semi-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-grey);
}
